$color-primary: #008abb;
$color-primary-hover: #00b1ce;
$color-secondary: #ec9929;
$color-secondary-hover: #ffa25c;
$color-tertiary: #009467;
$color-quaternary: #cf5c5c;
$color-text: #e6f4f1;
$color-background: #1e303c;
$color-border: #374955;
